html {
    background-color: darkgray;
}

ol{
    
}

li{
    margin: 5px;
    width: 200px;
}

li:hover {
    background-color: dimgray;
    width: 200px;
}

img {
    margin: 10px;
    width: 45%;
    height: 45%;
}